.vscode
unzipped/*
export/*
build/*
.venv/
*.dll
*.onnx
rawEpub/*
!rawEpub/template.epub
/__pycache__/
output.epub
imgui.ini
.DS_Store
encodedTags.txt
translatedTags.txt
pip_install.log
pip_show.log
FilteredImages/
*.pkl
*.pdf
*.txt
*.exe
*.spec
onnx-runtime-dir/*
multiprocessTranslation
tokenizeRawTags
main
main.pdb
.DS_Store
Testing/
!test_files/*
BookTranslatorTest
tokenized_data/
results/
fine_tuned_model/
testHTML/*
translatedHTML/*
llama-model/*