.vscode
unzipped/*
export/*
build/*
.venv/
*.dll
*.onnx
rawEpub/*
!rawEpub/template.epub
/external/
/__pycache__/
output.epub
imgui.ini
.DS_Store
encodedTags.txt
translatedTags.txt
pip_install.log
pip_show.log